@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    
}

li {
    float: right;
  }

  .ulnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6fcf00;
    color: white;
    text-align: right;
    
  }

  li a {
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    font-style: bold;
    font-size: 20pt;
  }

  li a:hover {
    background-color: #000000;
  }

  h1{
    font-size: 40pt;
    font-weight: 800;
    font-style: bold;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  h2{
    font-size: 30pt;
    font-weight: 500;
    font-style: bold;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .rigthITem, .leftItem {
    flex: 1;
}
  .mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .rigthITem{
    padding: 20px;
    font-size: 35pt;
    font-style: italic;
  }

  .leftItem{
    padding: 20px;
  }

  .img{
    width: 2vw;
  }
  .especialA:hover{
    background-color: white;
  }

  .formDiv{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 25px 30px;
    background: #4f00eb;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.432);
    margin-top: 40px;

  }
  .form{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .form > input{
    width: 20vw;
    height: 2vw;
    font-size: 20pt;
    border-radius: 1px;
  }
  

  .form > label{
    font-size: 25pt;
  }

  .botao{
      background-color: rgb(0, 0, 0);
      box-shadow: #000000;
      color: white;
      font-style: italic;
      font-weight: bolder;
      font-size: 20pt;
      align-self: center;
      margin-top: 10px;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius:30px;
      width: 40%;
      height: 50%;
      
  }

  .botao:hover{
    background-color: rgb(255, 255, 255);
    color: black;
  
  }

  .textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.432);
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: rgba(211, 255, 253, 0.712);
    margin-bottom: 10px;
}

.mainDiv{
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv2{
  width: 80vw;
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
}



.btnLeft {
  display: inline-block;
  padding: 10px 14px;
  width: 50%;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btnLeft:hover {background-color: #3e8e41}

.btnLeft:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}